@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

}


@layer utilities {
    /* ======================================= */
    /* PALET WARNA CUSTOM             */
    /* ======================================= */

    /* --- Warna Midnight Green --- */

    /* Default */
    .bg-midnight_green { background-color: #074B61; }
    .text-midnight_green { color: #074B61; }
    .border-midnight_green { border-color: #074B61; }

    /* Shades (Tingkat Warna) */
    .text-midnight_green-100 { color: #010f13; }
    .text-midnight_green-200 { color: #031d26; }
    .text-midnight_green-300 { color: #042c39; }
    .text-midnight_green-400 { color: #053b4c; }
    .bg-midnight_green-500 { background-color: #074B61; }
    .hover\:bg-midnight_green-600:hover { background-color: #0c84ac; }
    .bg-midnight_green-900 { background-color: #b3e8fa; }
    .text-midnight_green-900\/80 { color: rgba(179, 232, 250, 0.8); }

    /* --- Warna Ecru --- */

    /* Default */
    .bg-ecru { background-color: #D5C78C; }
    .text-ecru { color: #D5C78C; }
    .border-ecru { border-color: #D5C78C; }

    /* Shades (Tingkat Warna) */
    .text-ecru-300 { color: #9a8739; }
    .hover\:text-ecru-400:hover { color: #c1ac58; }
    .bg-ecru-500 { background-color: #D5C78C; }
    .hover\:bg-ecru-600:hover { background-color: #ddd1a3; }
    .bg-ecru-900 { background-color: #f6f4e8; }
    .hover\:bg-ecru-900\/60:hover { background-color: rgba(246, 244, 232, 0.6); }

    /* --- Gradien Khusus --- */
    .bg-gradient-midnight-green {
        background-image: linear-gradient(to bottom right, #074B61, #053b4c);
    }
}
